<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}<span class="glyphicon glyphicon-fire"></span> FireRef{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#if loggedin}}
          <li>
        		{{#link-to 'refs'}}References{{/link-to}}
        	</li>
          <li>{{#link-to 'user'}}<span class="glyphicon glyphicon-user"></span> {{userName}}{{/link-to}}</li>
          <li><a {{action 'clearLocalStorage'}}>Clear Cache</a></li>
        {{else}}
          <li><a class="btn btn-block" {{action 'doDropboxLogin'}}>Sign in with Dropbox</a>
        </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/wrenoud/fire-ref/issues"><span class="glyphicon glyphicon-question-sign"></span> Support</a></li>
        <li><iframe src="http://ghbtns.com/github-btn.html?user=wrenoud&repo=fire-ref&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="content_panel">
  {{outlet}}
</div>
