<div class="container-fluid" {{bind-attr class="isDirty"}}>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
				
					<a class="btn btn-default" target="_blank" {{bind-attr href=preview}}>Open in Tab</a>
					<a class="btn btn-default" target="_blank" {{bind-attr href=googleScholar}}>Search</a>
				</div>
				<div class="col-md-6 text-right">
					{{#if isDirty}}
						<button class="btn btn-default" {{action 'cancel'}}>Undo</button>
						<button class="btn btn-default" {{action 'save'}}>Save</button>
					{{/if}}
				</div>
			</div>

			<div class="form-group">
			    <label>Type</label>
				{{view Ember.Select
				  contentBinding="entrytypes"
				  optionLabelPath="content.id"
				  optionValuePath="content.id"
				  selectionBinding="type"
				  class="form-control"
				}}
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
					    <label>Label</label>
					    {{input type="text" class="form-control" value=label}}
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
					    <label>Title</label>
					    {{input type="text" class="form-control" value=title}}
					</div>
				</div>
			</div>
			<div class="form-group">
			    <label>Authors</label>
			    {{input type="text" class="form-control" value=author}}
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
					    <label>Year</label>
					    {{input type="text" class="form-control" value=year}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					    <label>Volume</label>
					    {{input type="text" class="form-control" value=volume}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					    <label>Number</label>
					    {{input type="text" class="form-control" value=number}}
					</div>
				</div>
			</div>
			<div class="form-group">
			    <label>Journal</label>
			    {{input type="text" class="form-control" value=journal}}
			</div>
			<div class="form-group">
			    <label>Publisher</label>
			    {{input type="text" class="form-control" value=publisher}}
			</div>
			<div class="form-group">
			    <label>Url</label>
			    {{input type="text" class="form-control" value=url}}
			</div>
			<div class="form-group">
			    <label>Suggested Filename</label>
			    {{input type="text" class="form-control" value=pretty_filename}}
			</div>
			<div class="form-group">
			    <label>BibTeX</label>
			    {{textarea class="form-control" rows="6" value=pretty_bibtex}}
			</div>
		</div>
	</div>
</div>
