<div id="labels" class="subpanel scrollable">
	<div class="container-fluid">
	{{#with view as parent}}
		<div class="btn-group">
			{{label-filter label='All' filter='*' action='filter' current=parent}}
			{{label-filter label='Unsorted' filter='' action='filter' current=parent}}
			{{#each labels}}
				{{label-filter label=this filter=this action='filter' current=parent}}
			{{/each}}
		</div>
	{{/with}}
	</div>
</div>

<div class="left subpanel scrollable">
	<div class="container-fluid">
		
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<a class="btn btn-default" {{action "sort" "author"}}>
				Author(s) <span {{bind-attr class=":glyphicon sortedByAuthor::hidden sortAscending:glyphicon-sort-by-alphabet:glyphicon-sort-by-alphabet-alt"}}></span>
			</a>
			<a class="btn btn-default" {{action "sort" "year"}}>
				Year&nbsp;<span {{bind-attr class=":glyphicon sortedByYear::hidden sortAscending:glyphicon-sort-by-order:glyphicon-sort-by-order-alt"}}></span>
			</a>
			<a class="btn btn-default" {{action "sort" "title"}}>
				Title <span {{bind-attr class=":glyphicon sortedByTitle::hidden sortAscending:glyphicon-sort-by-alphabet:glyphicon-sort-by-alphabet-alt"}}></span>
			</a>
		</div>
		<table id="refs_table" class="table">
			<tbody>
			{{#each filteredContent}}
				<tr>
					<td colspan="3">
						{{#link-to 'ref' this}}{{title}}{{/link-to}}<br>
						{{#if year}}<span class="year">{{year}}</span>.{{/if}} <span class="author">{{abbreviated_authors}}</span> {{#if publisher}}<span class="journal">{{journal}}</span>.{{/if}} {{#if publisher}}<span class="publisher">{{publisher}}</span>.{{/if}}
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>

<div class="dragger">
</div>

<div id="reference_panel" class="right subpanel scrollable">
{{outlet}}
</div>