{{model}}
<li>uid: {{uid}}</li>
<li>countryCode: {{countryCode}}</li>
<li>email: {{email}}</li>
<li>name: {{name}}</li>
<li>privateBytes: {{privateBytes}}</li>
<li>publicAppUrl: {{publicAppUrl}}</li>
<li>quota: {{quota}}</li>
<li>referralUrl: {{referralUrl}}</li>
<li>sharedBytes: {{sharedBytes}}</li>
<li>usedQuota: {{usedQuota}}</li>